.btn {
  border: none;
  padding: 1rem 3rem;
  border-radius: var(--border-rounded);
  color: var(--color-white);
  cursor: pointer;

  &--green {
    background-color: var(--color-green-500);
  }
  &--red {
    background-color: var(--color-red-500);
  }
  &--blue {
    background-color: var(--color-blue-500);
  }
  &--sm {
    padding: 0.2rem 1rem;
  }
  &--md {
    padding: 0.6rem 2rem;
  }
  &--lg {
    padding: 1.1rem 3rem;
  }
  &--floating {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    background-color: var(--color-orange-500);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--border-circle);
    border: none;
    &:hover {
      color: antiquewhite;
    }
  }
}
