.card {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1.2rem;
  background-color: var(--color-gray-100);
  border-radius: var(--border-rounded);

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
    &__img {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: var(--border-circle);
      margin-right: 0.5rem;
    }
  }
  &__title {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    color: var(--color-orange-500);
    font-family: "Caveat", cursive ;
  }
  &__subtitle {
    font-size: 0.75rem;
    color: var(--color-gray-500);
  }
  &__row {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    
    
    & span{
      font-size:0.8rem;
     
    }

    img {
      display: block;
      margin-right: 0.5rem;
      width: 1.5rem;
      align-self: flex-start;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

