$header-background-color: #333;

.container {
  max-width: 70rem;
  margin: 2rem auto;

  @media (min-width: $media-sm) {
    padding: 1.5rem;
  }

  & h2 {
    font-size: 2rem;
    color: rgb(242, 88, 22);
    text-align: start;
    font-family: "Caveat", cursive;
  }

  &--md {
    max-width: 64rem;
  }
  &--sm {
    max-width: 48rem;
  }
}
