$header-background-color: #333;
$header-text-color: #fff;
$header-nav-link-color: #ccc;
$header-nav-link-hover-color: #fff;

.header {
  
    background-color: #f1f1f1;
    background-image: linear-gradient(45deg, #141313, #abada9);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
   padding: 2rem;
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.header__title {
  color:rgb(242, 88, 22);
  font-size: 2.6rem;
  margin-bottom: 16px;
}

.header__nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .header__menu-item {
    display: inline-block;
    margin-right: 16px;

    a {
      color: $header-nav-link-color;
      text-decoration: none;
      font-size: 1.3rem;

      &:hover {
        color:rgb(255, 254, 252) ;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color:rgb(242, 121, 22) ;
        transition: all 250ms ease-in-out;
      }
    }
    }
  }

