.sidebar {
  position: fixed;
  background-color: var(--color-orange-500);
  color: var(--color-white);
  height: calc(100vh - 12rem);
  width: 17rem;
  top: 6rem;
  left: -20rem;

  &.isActive {
    left: 1rem;
  }

  &__link {
    color: var(--color-white);
    font-size: 1.25rem;
  }
}
