.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  font-family: Arial, sans-serif;

  &__img {
    width: 1rem;
  }

  &__img2 {
    width: 4rem;
  }

}
thead {
  background-color: #f1f1f1;
}

th, td {
  text-align: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #ddd;
 

}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

tr:hover {
  background-color: #ddd;
}

th {
  background-color: gray;
  color: white;
}
