* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
}

:root {
  //colors
  --color-white: #fff;
  --color-black: #333;
  --color-gray-500: #636262;
  --color-red-500: #c0392b;
  --color-green-500: #27ae60;
  --color-blue-500: #2980b9;

  //border
  --border-rounded: 0.5rem;
}
@import "./components/button.scss";
@import "./components/components.scss";
@import "./components/container.scss";
@import "./components/devider.scss";
@import "./components/header.scss";
@import "./components/home.scss";
@import "./components/input.scss";
@import "./components/table.scss";
@import "./base/vars.scss";
