.progress-bar {
  width: 50rem;
  height: 0.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-gray-500);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgb(245, 106, 0);

  &--sm {
    width: 20rem;
  }
  &--md {
    width: 40rem;
  }
  &--lg {
    width: 58rem;
  }
}
  .percentage {
    display: block;
    height: 100%;
    border-radius: 1rem;
    animation: progress 1500ms ease-in 1;
    width: calc(var(--progress-value) * 1%);
    background-color: var(--color-orange-500);
    transition: width 250ms ease-in-out;

    &--finished{
      background-color:#c22705 ;
    }
  }


@keyframes progress {
  from {
    transform: translateX(0%);
  }
}

