//colors
$black: #000;
$dark-gray: #566573;
$header-background: #ebebeb;
$light-green: rgb(162, 255, 249);
$light-pink: rgb(251, 174, 206);
$light-gray: #d3d3d3;

$gray: #808080;
$hover-green: #00aa95;
$hover-pink: rgb(194, 95, 191);
$azuro: rgb(0, 255, 255);
$linen: rgb(250, 240, 230);
$blue-green: rgb(148, 208, 215);
$white-smoke: #f5f5f5;
$carmine: #e60073;
$pink: #ff4da6;
$fuchsia: #ff00ff;
$salmon: #fa8072;
$purple: #800080;
$green: #008000;
$lime: #00ff00;
$yellow: #ffff00;
$red: #ff0000;
$silver: #c0c0c0;
$light-silver: #f2f3f4;
$white: #ffffff;
$blue: #0b57c6;
$orange: #f57707;
$mlyellow: #f9b601;
$mlgray: #1b1e21;
$mlblack: #121415;
$favebg: #16191c;
$lilac:rgb(91, 6, 188);
$dark-dark-gray:rgb(62, 61, 61);

//breakpoints
$media-sm: 37.5em; //600px
$media-md: 48em; //768px
$media-lg: 62em; //992px
$media-xl: 75em; //1200px
